.env

condominiosapp/__pycache__/*

/apps/condominio/__pycache__/*
/apps/condominio/migrations/*

/apps/blocos/__pycache__/*
/apps/blocos/migrations/*

/apps/apartamentos/__pycache__/*
/apps/apartamentos/migrations/*

/apps/moradores/__pycache__/*
/apps/moradores/migrations/*

/apps/funcionarios/__pycache__/*
/apps/funcionarios/migrations/*

/apps/areascomuns/__pycache__/*
/apps/areascomuns/migrations/*